src/Python/.venv/
src/Python/__pycache__/
paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.lof
paper/*.log
paper/*.lot
paper/*.out
paper/*.toc
paper/*.synctex.*
src/Cpp/Thesis/Debug
src/Cpp/Thesis/x64
src/Cpp/Thesis/*.vcxproj*
src/Cpp/Thesis/*.sln
/src/Cpp/Thesis/.vs/Thesis
/.vs
/src/Cpp/Thesis/bin/*
/src/Cpp/Thesis/*.exe
Literatuur/
/.vscode
*.pdf
/src/Cpp/Thesis/results/*.txt
*.png
*.eps
/catchup_presentation.pptx
/Defense.docx
/Master Thesis.pptx
/New_insights.pptx
/notes.txt
/posterMathEngBram.pptx
/testresults.xlsx
/~$efense.docx
/paper/app-A.tex
/paper/app-n.tex
/paper/chap-1.tex
/paper/chap-2.tex
/paper/chap-n.tex
/paper/conclusion.tex
/paper/intro.tex
/paper/references.bib
/paper/thesis.tex
