src/Python/.venv/
src/Python/__pycache__/
paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.lof
paper/*.log
paper/*.lot
paper/*.out
paper/*.pdf
paper/*.toc
paper/*.synctex.*
src/Cpp/Thesis/Debug
src/Cpp/Thesis/x64
src/Cpp/Thesis/*.vcxproj*
src/Cpp/Thesis/*.sln
/src/Cpp/Thesis/.vs/Thesis
/.vs
/src/Cpp/Thesis/bin/*
/src/Cpp/Thesis/test
Literatuur/
/.vscode
*.pdf
/src/Cpp/Thesis/results/*.txt
/src/Cpp/Thesis/results/*.mat
*.png
*.eps
*.exe